{
    "FIREBASE_API_KEY": "smaple",
    "FIREBASE_AUTH_DOMAIN": "sample",
    "FIREBASE_DB_URL": "sample",
    "FIREBASE_PROJECT_ID": "sample",
    "FIREBASE_STORAGE": "",
    "FIREBASE_MSG_SENDER_ID": "sample",
    "FIREBASE_APP_ID": "sample"
}